<md-dialog aria-label="Dialog Info">
	<md-toolbar class="md-accent md-hue-1">
		<div class="md-toolbar-tools">
			<h2>{{title}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="row" layout-padding>
			<p flex>{{dataSet.message}}</p>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="hide()">
			Ok
		</md-button>
	</md-dialog-actions>
</md-dialog>