<md-dialog aria-label="Dialog Multilinea">
	<md-toolbar>
		<div class="md-toolbar-tools">
		<h2>{{title}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()">
			<md-icon aria-label="Close dialog">close</md-icon>
		</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="row" layout-wrap>
			<md-list flex>
				<md-list-item ng-repeat="line in dataSet" class="md-2-line"> 
					<div class="md-list-item-text" layout="column" flex layout-align="start start">
						<p>{{line.label}}</p>
						<h3>{{line.text}}</h3>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="hide()">
			Ok
		</md-button>
	</md-dialog-actions>
</md-dialog>