<md-dialog aria-label="Dialog Multilinea">
	<md-toolbar>
		<div class="md-toolbar-tools">
		<h2>{{title}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()">
			<md-icon aria-label="Close dialog">close</md-icon>
		</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="row" layout-wrap>
			<md-list flex>
				<md-list-item ng-repeat="item in dataSet" class="md-2-line"> 
					<div class="md-list-item-text" layout="row" flex layout-align="start start">
						<md-checkbox ng-checked="isSelected(item)" ng-click="toggle(item)" ng-show="showCheckBox">
							{{item.name}}
							<br>
							<span ng-if="item.description">{{item.description}}</span>
						</md-checkbox>
						<div layout="column" layout-padding ng-hide="showCheckBox" ng-click="itemClicked(item)">
							<p>{{item.name}}</p>
							<span ng-if="item.description">{{item.description}}</span>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="cancel()">
			Annulla
		</md-button>
		<md-button ng-click="confirm()" ng-show="showCheckBox">
			Conferma
		</md-button>
	</md-dialog-actions>
</md-dialog>