<div class="page" layout-margin ng-init="init()">
	<div layout="row">
		<h3 class="md-headline" flex>Lista delle Creature</h3>
		<md-button flex="nogrow" class="md-fab md-primary md-mini" ng-click="addTemplate()" aria-label="Add" md-whiteframe="24">
			+
		</md-button>
	</div>
	<div layout="row" layout-wrap>
		<md-list class="menu-items" flex>
			<md-list-item ng-click="selectItem(thisTemplate)" ng-repeat="thisTemplate in templateList" class="secondary-button-padding">
				<div layout="row" flex layout-align="start center">
					<p>{{thisTemplate.name}}</p>
					<md-menu md-position-mode="target-right target" flex="nogrow" class="md-secondary">
						<md-button ng-click="$mdMenu.open($event)" aria-label="ContextMenu" class="md-icon-button">
							<md-icon>more_vert</md-icon>
						</md-button>
						<md-menu-content width="4" >
							<md-menu-item ng-repeat="item in contextMenuVoices">
								<md-button ng-click="contextMenuClick(thisTemplate, item)">
									<div layout="row" flex>
										<p flex>{{item.name}}</p>
										<md-icon>{{item.icon}}</md-icon>
									</div>
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
