<md-dialog aria-label="Nuova Creatura">
	<form ng-cloak name='nuovoTemplate'>
		<md-toolbar>
			<div class="md-toolbar-tools">
			<h2>Nuova Creatura</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container class="md-block">
					<label>Nome</label>
					<input required name='nome' ng-model="newObj.name">
					<div ng-messages="nuovoTemplate.nome.$error">
						<div ng-message="required">Campo obbligatorio</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm>
					<label>Tipologia</label>
					<md-select required name'type' ng-model="newObj.type">
						<md-option ng-repeat="type in extraData" value="{{type.id}}">
							{{type.description}}
						</md-option>
					</md-select>
					<div ng-messages="nuovoTemplate.type.$error">
						<div ng-message="required">Campo obbligatorio</div>
					</div>
				</md-input-container>
				<div layout-gt-sm="row" layout-gt-xs="column" class="md-block">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Modificatore Iniziativa</label>
						<input ng-model="newObj.init_mod" type="number">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Classe Armatura</label>
						<input ng-model="newObj.ca" name="ca" type="number" min="5">
						<div ng-messages="nuovoTemplate.ca.$error">
							<div ng-message="min">Non può esistere una Classe Armatura base minore di 5</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Punti Ferita</label>
						<input ng-model="newObj.hp" type="number">
					</md-input-container>
				</div>

				<md-input-container class="md-block">
					<label>Note</label>
					<textarea name='note' ng-model="newObj.note" md-maxlength="100" rows="5"></textarea>					
					<div ng-messages="nuovoTemplate.note.$error">
						<div ng-message="maxlength">Lunghezza massima di 100 caratteri. Quanto cavolo vuoi scrivere?</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="answer(false)">
				Annulla
			</md-button>
			<md-button type='submit' ng-click="answer(true)">
				Conferma
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>