<div id="party" class="page" layout-margin>
	<div layout="column" layout-padding>
		<h2 class="md-headline" flex>{{selectedTemplate.name}}</h2>
		
		<!--<p flex>Tipologia di template</p>
		<p flex>{{selectedTemplate.typeObj.description}}</p>
		<p flex>Modificatore Iniziativa</p>
		<p flex>{{selectedTemplate.init_mod}}</p>
		<p flex>Punti Ferita Massimi</p>
		<p flex>{{selectedTemplate.hp}}</p>
		<p flex>Classe Armatura</p>
		<p flex>{{selectedTemplate.ca}}</p>
		<p flex>Note</p>
		<p flex>{{selectedTemplate.note}}</p>-->
	</div>	
</div>
