<div id="party" class="page" layout-margin ng-init="init()">
	<div layout="column" layout-padding>
		<h2 class="md-headline" flex>{{selectedParty.name}}</h2>
		<h3>{{selectedParty.description}}</h3>
	</div>
	<div layout="row" layot-padding>
		<md-subheader class="lg-grey" flex>Member List </md-subheader>
		<md-button flex="nogrow" class="md-fab md-primary md-mini" ng-disabled="!ready" ng-click="addMember()" aria-label="Add" md-whiteframe="24">
			+
		</md-button>
	</div>
	<md-list-item ng-repeat="member in selectedParty.members" ng-click="goToMember(member.id, $event)" class="noright">
		<p>{{ member.name }}</p>
		<md-menu md-position-mode="target-right target" flex="nogrow" class="md-secondary">
			<md-button ng-click="$mdMenu.open($event)" aria-label="ContextMenu" class="md-icon-button">
				<md-icon>more_vert</md-icon>
			</md-button>
			<md-menu-content width="4" >
				<md-menu-item ng-repeat="item in contextMenuVoices">
					<md-button ng-click="contextMenuClick(member, item)">
						<div layout="row" flex>
							<p flex>{{item.name}}</p>
							<md-icon>{{item.icon}}</md-icon>
						</div>
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-list-item>
</md-list>

</div>
