<md-dialog aria-label="Nuovo Party">
	<form ng-cloak name='nuovoParty'>
		<md-toolbar>
			<div class="md-toolbar-tools">
			<h2>Nuovo Party</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container class="md-block">
					<label>Nome</label>
					<input required name='nome' ng-model="newObj.name">
					<div ng-messages="nuovoParty.nome.$error">
						<div ng-message="required">Campo obbligatorio</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Descrizione</label>
					<textarea name='description' ng-model="newObj.description" md-maxlength="100" rows="5"></textarea>					
					<div ng-messages="nuovoParty.description.$error">
						<div ng-message="maxlength">Lunghezza massima di 100 caratteri. Quanto cavolo vuoi scrivere?</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="answer(false)">
				Annulla
			</md-button>
			<md-button type='submit' ng-click="answer(true)">
				Conferma
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>