<md-toolbar class="toolbar md-toolbar-tools" ng-controller="ToolbarCtrl" layout="row">
	<md-button class="menu md-icon-button md-toolbar-tools" hide-gt-xs ng-click="iconClick()" aria-label="Show Menu">
		<ng-md-icon icon="{{icon.name}}" options='{"duration": 250, "rotation": "ClockWise"}'>
		</ng-md-icon>
	</md-button>
	<h1>{{title}}</h1>
</md-toolbar>

