<div class="sidenav" ng-controller="SideNavCtrl as sideNav" layout="column" flex>
	<md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="5" flex>

		<md-toolbar layout="column">
			<!-- CLOSE BUTTON - DISPLAYED ON SMALL SCREENS ONLY -->
			<div layout="row" hide-gt-xs>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="sideNav.closeSideNav()" aria-label="Close Menu">
					<md-icon>close</md-icon>
				</md-button>
			</div>

			<div class="sidenav-header" layout="column" layout-align="start center" layout-padding>
				<img src="assets/images/menu-logo.jpg" class="sidenav-img">
			</div>
		</md-toolbar>

		<!-- VERTICAL MENU ITEMS -->
		<md-list class="menu-items">
			<md-list-item ng-click="sideNav.selectMenuItem(menuItem)" ng-repeat="menuItem in sideNav.menuItems">
				<md-icon flex='no-grow'>{{menuItem.icon}}</md-icon>
				<p ng-class="{'selected' : menuItem === sideNav.selected }" flex> {{ menuItem.name }} </p>
			</md-list-item>
		</md-list>

	</md-sidenav>
</div>
