@import "../shared/styles/_mixins";

.sidenav {
	md-sidenav {
		max-width: 250px;
	}

	.sidenav-img {
		@include circle(40%, 40%);
	}

	// Add a margin above the profile when the width is greater than 600px
	@media (min-width: 600px) {
		.sidenav-header {
			margin-top: 10px;
		}
	}

	.menu-items .selected {
		color: #03a9f4;
	}
}
